.slw-map, .slw-legend {
	border: 1px solid #a6a6a6;
	background-color: #f9f9f9;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	font-family:Arial, Helvetica, sans-serif;
}

/* Legend styles*/
.slw-legend {
	border-top: none;
	font-size: 12px;
}

.slw-legend .device {
	margin: 3px;
	border-radius:3px;
	border: 1px solid #a6a6a6;
}

.slw-legend .device .device-content {
	padding: 4px 8px;
	background-color: #eeeeee;
	margin-left: 6px;
}

.slw-legend .device .device-content img {
	vertical-align: middle;
	margin-right: 5px;
}

.slw-legend .device input {
	float: right;
}


/* info Window styles*/
.slw-map .info-window {
	line-height:1.35;
	overflow:hidden;
	white-space:nowrap;
	width: 215px;
}

.slw-map .info-window .title {
	font-weight: bold;
	margin: 5px 0;
	font-size: 13px;
}

.slw-map .item-title {
	float: left;
	width: 90px;
} 


/*Top bar*/

.slw-top-bar {
	font-family:Arial, Helvetica, sans-serif;
	background-color: #eeeeee;
	font-size: 8px;
	color: #666666;
	position: relative;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	
}

.slw-top-bar img {
	border: none;
}

.slw-top-bar .top-bar-content {
	position: absolute;
    top: 50%;
    margin-top: -0.5em;
    width: 100%;
}

.slw-top-bar img {
	margin-left: 10px;
	margin-top: -14px;
}

.slw-top-bar .slw-banner img {
	margin-top: -8px;
	margin-right: 5px;
}

.slw-top-bar .right-top {
	float: right;
	margin-top: -8px;
	font-size: 10px;
}

.slw-top-bar .slw-btn {
	padding: 0 2px;
	display: inline-block;
}

.slw-top-bar .slw-btn:last-child {
	border-right: none;
}

.slw-top-bar .full-scr-slw {
	background-image: url('../images/icon_fullscreen.png');
	background-repeat: no-repeat;
	padding-left: 30px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #666666;
	height: 30px;
}

.slw-top-bar .buy-now-slw {
	background-image: url('../images/icon_buyspot.png');
	background-repeat: no-repeat;
	padding-left: 30px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #666666;
	height: 30px;
}

.slw-top-bar .refresh-slw {
	background-image: url('../images/icon_refresh.png');
	background-repeat: no-repeat;
	padding-left: 30px;
	display: block;
	cursor: pointer;
	height: 30px;
}

/*Message window*/

.slw-message {
	font-family:Arial, Helvetica, sans-serif;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
}

.slw-text {
	height: inherit;
	width: inherit;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.slw-text span {
	background: #eee;
	padding: 15px 25px;
	box-shadow: 0px 0px 10px #333;
	border-radius: 3px;
	font-size: 13px;
	color:#333333;
}
