@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'), url('../fonts/ProductSans-Regular.woff') format('woff');
}


*{
    font-family: "Roboto";
}

.navbar {
    padding:0rem;
    margin-bottom:2rem;
}

.dropdown .dropdown-menu {
    border-radius:0;
}
.flex-column{
    flex-flow: column;
    flex-wrap: wrap;
}

.flex-row{
    flex-flow: row;
    flex-wrap: wrap;
}

.red-text{
    color: #c62828;
}
.green-text{
    color: #2e7d32;
}
.yellow-text{
    color: #fbc02d;
}
.black-text{
    color: #111111;
}
.white-text{
    color: #ffffff;
}
.grey-text {
    color: gray;
}
.font-weight-light{
    font-family: "Roboto Light", sans-serif;
}
.font-weight-bold{
    font-family: "Roboto Bold", sans-serif;
}
.font-weight-thin{
    font-family: "Roboto Thin", sans-serif;
}
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}
#map {
    height: 100vh; /* The height is 400 pixels */
    width: 100vw;

}/* The width is the width of the web page */
.first_row{
    background-color: #2F75B5;
}
.first_row_status{
    background-color: #548235;
}
#tablePreview th[scope=row]{
    background-color: #808080;
}
#tablePreview td{
    background-color: #C6E0B4;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0px 0px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: transparent !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
th { font-size: 12px; }
/* Medium devices (tablets, 768px and up)
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius:0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
nav a{
    color: #000 !important;
}
nav{
    background-color: #FFF !important;
}
.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fa {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }
.chip.chip-lg {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}
.blockquote .bq-title{
    font-size: 1rem !important;
}
.blockquote p{
    font-size: 1rem !important;
}
.md-form input:focus:required:invalid{
    border-bottom-color: #F44336 !important;
}
.justify{
    text-align: justify;
    text-justify: inter-word;
}
.tab-pane h5{
    font-weight: 500;
}
.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

*{
    font-family: "Roboto";
}

a{
    color: #000;
}

html, body, #wrapper{
    height: 100%;
    width: 100%;
}
#map{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.flex-column{
    flex-flow: column;
    flex-wrap: wrap;
}

.flex-row{
    flex-flow: row;
    flex-wrap: wrap;
}

.red-text{
    color: #c62828;
}
.green-text{
    color: #2e7d32;
}
.yellow-text{
    color: #fbc02d;
}
.black-text{
    color: #111111;
}
.white-text{
    color: #ffffff;
}
.grey-text {
    color: #111111;
}
.aqua-text {
    color: lightskyblue;
}
.active{
    background-color: lightskyblue;
}
.font-weight-light{
    font-family: "Roboto Light", sans-serif;
}
.font-weight-bold{
    font-family: "Roboto Bold", sans-serif;
}
.font-weight-thin{
    font-family: "Roboto Thin", sans-serif;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 350px;
    position: fixed;
    top: 0;
    left: -350px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #b61827;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-icon-with-text{
    border-radius: 25px !important;
}

.btn-icon-only{
    border-radius: 35px !important;
}

#dismiss:hover {
    background: #fff;
    color: #ef5350;
}
#rightbarCollapse{
    float: right;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header{
    padding: 5px 0 5px 0;
    background: #ef5350;
}

#sidebar ul.components, #rightbar ul.components {
    border-bottom: 1px solid #000;
}

#sidebar ul p, #rightbar ul p {
    color: #000;
    padding: 10px;
}

#sidebar ul li a, #rightbar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover, #rightbar ul li a:hover {
    color: #ef5350;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"], #rightbar ul li.active>a {
    color: #fff;
    background: #ef5350;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#rightbar {
    width: 350px;
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#rightbar.active {
    right: 0;
}

#dismiss-right {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #b61827;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss-right:hover {
    background: #fff;
    color: #ef5350;
}

#rightbar .sidebar-header{
    padding: 25px;
    background: #ef5350;
}

/*Device Details Style*/

.info{
    float: left;
    display: flex;
    align-items: center;
}

.clearboth{
    clear: both;
}

.font-small{
    font-size: 10pt;
}

.title-info{
    margin-bottom: 10px;
}

.no-padding-left{
    padding-left: 0;
    padding-right: 0;
}

.no-padding-left .row{
    margin: 0;
}

.info i.fas{
    font-size: 18pt;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.button-bottom{
    position: fixed;
    text-align: center;
    bottom: 10px;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
    left: 45%;
    align-self: center;
    transition: all 0.3s;
}

.button-left{
    position: fixed;
    text-align: center;
    bottom: 10px;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
    align-self: center;
    transition: all 0.3s;
}

#bottombar {
    width: 100vw;
    position: fixed;
    bottom: -450px;
    height: 450px;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#bottombar.active {
    bottom: 0;
}

#dismiss-bottom {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #b61827;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss-bottom:hover {
    background: #fff;
    color: #ef5350;
}

#bottombar .sidebar-header{
    position: sticky;
    top: 0;
    padding: 25px;
    background: #ef5350;
}

.scrollable{
  height:300px;
  overflow-y: scroll;
}